/* stylesheet for demo and examples */


.imgContent{overflow: auto;position: relative;max-width:400px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.imgContent img{margin: 0;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding: 3px;background: rgba(0,0,0,0.2);}
.horizontal-images.imgContent ul{margin: 0;padding: 0;list-style: none;overflow: hidden;}
.horizontal-images.imgContent li{margin: 0 3px;padding:0px !important;float: left;}
.horizontal-images.imgContent li:first-child{ margin-left: 0; }
.horizontal-images.imgContent li:last-child{ margin-right: 0; }
.horizontal-images.imgContent li img{width: auto;padding: 0;max-width:400px;}
