@charset "utf-8";

/**************************************************
  Board style
**************************************************/

/*일반게시판(더존)*/
.bd_dl_add td dl{display:block;overflow:hidden;padding:5px 0;height:24px;line-height:24px;}
.bd_dl_add td dl dt{width:80px;float:left;}
.bd_dl_add td dl dd .txt{font-size:11px;color:#8d8d8d;}
.bd_view_pn th .prev_btn{padding:0 15px 0 0;background: url("../Images/ico/bd_prev_ico.png") no-repeat right;}
.bd_view_pn th .next_btn{padding:0 15px 0 0;background: url("../Images/ico/bd_next_ico.png") no-repeat right;}
.bd_view_pn .dotdotdot{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:250px;}
.txtbox_info{margin:0 20px 0 0;}
.txtbox_info .info_list{display:inline-block;color:#8d8d8d;font-size:11px;line-height: 22px;padding:0 2px;}
.txtbox_info .info_list.like{padding:0 2px 0 15px;background: url("../Images/ico/like_ico.png") no-repeat 0 5px;}
.text_view_box{padding:0 0 0 30px;}
.file_down_btn{display:inline-block;width:17px;height:17px;margin:0 0 0 5px;vertical-align:middle;background: url("../Images/btn/btn_download01.png") no-repeat left;}

/* 웹진형 */
.board_option {height:44px;overflow:hidden;}
.board_option .tot {float:left;line-height:44px;margin-left:7px; font-weight:bold;}
.board_option .bo_right {float:right;}
.board_option .controll_btn{padding:0px;}
.board_option .bo_right .btn_div {float:left;}
.board_option .bo_right .radi_div {float:left;margin:0 13px;}
.board_option .bo_right .sel_div {float:left;}
.board_option .bo_right .sel_div .line_sel_div {float:left;margin-right:3px;}
.board_option .bo_right .sel_div .controll_btn {float:left;}
.board_option .div_radi {float:left; line-height:42px;margin-left:13px;}

.board_ta table tr:hover td{background:none; }
.board_ta table tr:hover td .web_div {text-decoration:underline;cursor:pointer;}
.board_ta .web_div {margin:15px 0;overflow:hidden;  }
.board_ta .web_div .tit {color:#010101; font-weight:bold;margin-bottom:9px;}
.board_ta .web_div .tit img{  vertical-align: baseline;}
.board_ta .web_div .txt_con {color:#010101; line-height:16px;text-overflow: ellipsis;  display: -webkit-box;  -webkit-line-clamp: 2;  -webkit-box-orient: vertical;  word-wrap: break-word;max-height:30px; overflow:hidden;}
.board_ta .web_div ul {margin-top:14px;}
.board_ta .web_div ul li {float:left;padding:0 7px 0 8px; background:url('../Images/ico/ico_bar_board01.png') no-repeat left center;font-size:11px;color:#8d8d8d;}
.board_ta .web_div ul li:first-child {padding:0 7px 0 0px; background:none;}

/*일반게시판 목록*/
.board_ta.com_ta2 table .tit_td {text-align:left;padding-left:10px;}
.board_ta.com_ta2 table tr td.tit_td a:hover  {text-decoration:underline;}
.board_ta.com_ta2 table .reply {padding-left:28px; background:url("../Images/ico/ico_reply01.png") no-repeat 10px center;}
.board_ta.com_ta2 table tr:hover .reply {background:url("../Images/ico/ico_reply01.png") no-repeat 10px center;}
.board_ta.com_ta2 table tr th,.board_ta.com_ta2 table tr td{border:solid #eaeaea;border-width: 0 0 1px 1px;}
.board_ta.com_ta2 table tr th:first-child,.board_ta.com_ta2 table tr td:first-child{border:solid #eaeaea;border-width: 0 0 1px 0px;}
.board_ta.com_ta2 table tr.even{background-color:#f9f9f9;}
.board_ta.com_ta2 table tr .mx_td .mx {text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
.board_ta.com_ta2 table tr .mx_td img {float:left;margin-left:4px;}
.board_ta.com_ta2 table tr .mx_td img:last-child {margin-top:2px;}


/*게시판 헤더화살표 추가건 20151127*/
.board_ta.com_ta2 table tr th .k-i-arrow-d{display:inline-block;width:16px;height:16px;overflow:hidden;background-repeat:no-repeat;font-size:0;line-height:0;text-align:center;margin:-2px 0 0 0;background:url("../Images/btn/grid_sort_normal.png") no-repeat center center;vertical-align:middle;margin:0;}
.board_ta.com_ta2 table tr th .k-i-arrow-n{display:inline-block;width:16px;height:16px;overflow:hidden;background-repeat:no-repeat;font-size:0;line-height:0;text-align:center;margin:-2px 0 0 0;background:url("../Images/btn/grid_sort_up.png") no-repeat center center;vertical-align:middle;margin:0;}
.board_ta.com_ta2 table tr th .k-i-arrow-s{display:inline-block;width:16px;height:16px;overflow:hidden;background-repeat:no-repeat;font-size:0;line-height:0;text-align:center;margin:-2px 0 0 0;background:url("../Images/btn/grid_sort_down.png") no-repeat center center;vertical-align:middle;margin:0;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.board_ta.com_ta2 table tr th .k-i-arrow-d{display:inline-block;width:16px;height:16px;overflow:hidden;background-repeat:no-repeat;font-size:0;line-height:0;text-align:center;background:url("../Images/btn/grid_sort_normal.png") no-repeat center center;vertical-align:middle;margin:0;}
.board_ta.com_ta2 table tr th .k-i-arrow-n{display:inline-block;width:16px;height:16px;overflow:hidden;background-repeat:no-repeat;font-size:0;line-height:0;text-align:center;background:url("../Images/btn/grid_sort_up.png") no-repeat center center;vertical-align:middle;margin:0;}
.board_ta.com_ta2 table tr th .k-i-arrow-s{display:inline-block;width:16px;height:16px;overflow:hidden;background-repeat:no-repeat;font-size:0;line-height:0;text-align:center;background:url("../Images/btn/grid_sort_down.png") no-repeat center center;vertical-align:middle;margin:0;}
}

/*게시판_자료관리시스템_글보기*/
.etc_folder {overflow:hidden; clear:both;position:absolute; bottom:0px; left:0px;}
.etc_folder ul {margin:50px 15px 15px 15px;}
.etc_folder ul li a {padding-left:25px; line-height:22px;display:inline-block;}
.etc_folder ul li a:hover {text-decoration:underline;}
.etc_folder ul li a.on {font-weight:bold;}
.etc_folder ul li.fold1 a {background:url("../Images/ico/ico_folder_st01.png") no-repeat 1px 3px;}
.etc_folder ul li.fold2 a {background:url("../Images/ico/ico_folder_st02.png") no-repeat 1px 3px;}
.etc_folder ul li.book1 a {background:url("../Images/ico/ico_folder_st03.png") no-repeat 1px 3px;}

.com_ta .update_td .ut_tit{  overflow: hidden; height:36px; line-height:36px;}
.com_ta .update_td .ut_tit p {float:left;}
.com_ta .update_td .ut_tit ul {float:right;  overflow: hidden;}
.com_ta .update_td .ut_tit ul li {float:left;background:url("../Images/ico/ico_bar_board01.png") no-repeat left center; padding-left:7px;clear:inherit;}
.com_ta .update_td .ut_tit ul li:first-child {padding:0 7px 0 0; background:none;}
.com_ta .update_td .ut_tit ul li span {color:#8d8d8d;font-size:11px;}
.com_ta .update_td .down_div {border:1px solid #dcdcdc;padding-left:10px;margin-bottom:4px;}
.com_ta .update_td .down_div ul.down_ul {margin:2px 0;}
.com_ta .update_td .down_div ul.down_ul li {line-height:21px;}
.com_ta .update_td .texta2 {padding:10px 0;margin-bottom:4px;}

/*게시판_자료관리시스템_업데이트*/
.com_ta table .com_dl {}
.com_ta table .com_dl dt{color:#058df5;width:100px;}
.com_ta table .com_dl dd{padding-left:12px; margin-right:5px;background:url("../Images/ico/ico_txt_arr01.png") no-repeat left 1px;}
.com_ta table .com_dl dd.first_dd{padding-left:0px;background:none;}
.com_ta table .add_ul {margin-bottom:4px;}
.com_ta table .add_ul li {margin-top:6px;}
.com_ta table .add_ul li dt {width:90px;}
.com_ta table .add_ul li dd {}
.com_ta table .add_ul2 {margin-top:4px;margin-bottom:3px;}
.com_ta table .add_ul2 li {line-height:30px;}

/*게시판_전체관리자_업무카테고리*/
.bot_box{position:absolute;left:0;right:0;bottom:0;padding:15px;border-top:1px solid #dcdcdc;}
.bot_box .first_up_btn{display:block;float:left;width:18px;height:18px;margin:2px 4px 0 0;background:url("../Images/btn/first_up_btn.png") no-repeat center;}
.bot_box .up_btn{display:block;float:left;width:18px;height:18px;margin:2px 4px 0 0;background:url("../Images/btn/up_btn.png") no-repeat center;}
.bot_box .down_btn{display:block;float:left;width:18px;height:18px;margin:2px 4px 0 0;background:url("../Images/btn/down_btn.png") no-repeat center;}
.bot_box .last_down_btn{display:block;float:left;width:18px;height:18px;margin:2px 4px 0 0;background:url("../Images/btn/last_down_btn.png") no-repeat center;}
.bot_box .plus_btn{display:block;float:left;width:18px;height:18px;margin:2px 4px 0 0;background:url("../Images/btn/plus_btn.png") no-repeat center;}
.bot_box .minus_btn{display:block;float:left;width:18px;height:18px;margin:2px 4px 0 0;background:url("../Images/btn/minus_btn.png") no-repeat center;}

.bd_list_box{padding:10px 0;overflow:auto;}
.bd_list_box li{height:20px;line-height:20px;margin:0 0 5px 0;padding:0 15px;white-space:nowrap;float:left;clear:both;min-width:209px;}
.bd_list_box li.on{background-color:#e6f3ff;}
.bd_list_box li a{font-size:12px;font-weight:normal;color:#4a4a4a;}
.bd_list_box li.on a{font-size:12px;font-weight:bold;color:#058df5;}

/*게시판_사진게시판*/
.photo_box{width:100%;padding:15px 0;border-top:1px solid #dcdcdc;}
.photo_box ul{}
.photo_box ul li.p_list{float:left;border:1px solid #dcdcdc;margin:0 20px 20px 0;}
.photo_box ul li.p_list .pl_img{width:231px;height:153px;}
.photo_box ul li.p_list .pl_img img{width:100%;height:100%;}

.photo_box ul li.p_list .pl_info{width:201px;height:74px;padding:15px;}
.photo_box ul li.p_list .pl_info dl dt label{padding:0.2em 0 0 1.5em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:183px;height:14px;display:block;font-weight:bold;}
.photo_box ul li.p_list.read .pl_info dl dt label{font-weight:normal;}

.photo_box ul li.p_list .pl_info dl dd{width:100%;}
.photo_box ul li.p_list .pl_info dl dd.bot{font-weight:normal;font-size:11px;color:#8d8d8d;}
.photo_box ul li.p_list .pl_info dl dd .info_nm{display:block;font-weight:normal;font-size:11px;color:#8d8d8d;margin:5px 0 3px 0;}
.photo_box ul li.p_list .pl_info dl dd .info_dt{display:block;font-weight:normal;font-size:11px;color:#8d8d8d;margin:0 0 7px 0;padding:0 0 7px 0;border-bottom:1px solid #dcdcdc;}
.photo_box ul li.p_list .pl_info dl dd.bot .info_like{padding:1px 7px 0 16px;background:url("../Images/ico/like_ico.png") no-repeat left;}

/*게시판_이벤트게시판*/
.event_box{width:100%;padding:15px 0;border-top:1px solid #dcdcdc;}
.event_box ul{}
.event_box ul li.e_list{float:left;margin:0 20px 0 0;}
.event_box ul li.e_list .el_img{width:315px;height:195px;border:1px solid #dcdcdc;}
.event_box ul li.e_list .el_img img{width:100%;height:100%;}
                         
.event_box ul li.e_list .el_info{width:317px;height:42px;padding:15px 0 0 0;}
.event_box ul li.e_list .el_info dl dt label{padding:0.2em 0 0 1.5em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:298px;height:14px;display:block;font-weight:bold;}
.event_box ul li.e_list .el_info dl dd{width:100%;}
.event_box ul li.e_list .el_info dl dd .info_dt{display:block;font-weight:normal;font-size:11px;color:#8d8d8d;padding:0px 0 0 18px;}