@charset "utf-8";

/**************************************************
  Kendo UI customize css
**************************************************/

/*
151209이준혁
/schedule/resources/css/kendoui/kendo.common.min.css <<<요기만
kendo.common.min.css (9 or 10번줄) @media only screen and (max-width:1024px){.k-webkit .k-scheduler-toolbar> 로 시작 하는 부분 부터 끝까지 주석kendo.common2.min.css 참고
*/

/* 조직도 */
.tree_icon .k-sprite {background-image: url("../Images/ico/ico_tree_folder.png");}

/* 전자결재 > 문서함 > 기록물철별문서 */
.sub_left .k-widget{border:0px !important;}
.record_tab li.k-state-active{background-color:#fff !important;color:#4a4a4a;font-weight:bold;height:34px;}
.record_tab li span.k-link{padding:0;}
.sub_left .k-content{margin:0px !important; padding:0px !important;}

/* 그리드 테이블 */
.data_grid .k-icon{margin-top:0px;}/*페이징 화살표아이콘*/

/*그리드테이블 max-height*/
.grid_mx100 .k-grid-content {max-height:100px;}
.grid_mx135 .k-grid-content {max-height:135px;}
.grid_mx300 .k-grid-content {max-height:300px;}
.grid_mx460 .k-grid-content {max-height:460px;}
.grid_mx560 .k-grid-content {max-height:560px;}

/*그리드테이블 논오버시 스크롤방지*/
.k-grid td {padding-top:0px;padding-bottom:0px;height:29px; line-height:1.5;}

/*그리드테이블 height 고정일때 짤림현상방지*/
.k-grid-content{background-color:#fcfcfc;}
.k-grid-content table tr:last-child td{border-bottom:1px solid #ecebeb; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.k-grid-content table tr:nth-child(odd) {background-color:#fff;}
.k-grid-content table tr:nth-child(odd).k-state-selected{background-color:#e7f4ff;}

/* 그리드 테이블 소팅화살표 추가수정건 20151127*/
.k-grid-header th.k-header>.k-link .k-i-arrow-d{background:url("../Images/btn/grid_sort_normal.png") no-repeat center center;margin:-2px 0 0 0;}
.k-grid-header th.k-header>.k-link:hover .k-i-arrow-d{background:url("../Images/btn/grid_sort_normal.png") no-repeat center center;margin:-2px 0 0 0;}
.k-grid-header th.k-header>.k-link .k-i-arrow-n{background:url("../Images/btn/grid_sort_up.png") no-repeat center center;margin:-2px 0 0 0;}
.k-grid-header th.k-header>.k-link:hover .k-i-arrow-n{background:url("../Images/btn/grid_sort_up.png") no-repeat center center;margin:-2px 0 0 0;}
.k-grid-header th.k-header>.k-link .k-i-arrow-s{background:url("../Images/btn/grid_sort_down.png") no-repeat center center;margin:-2px 0 0 0;}
.k-grid-header th.k-header>.k-link:hover .k-i-arrow-s{background:url("../Images/btn/grid_sort_down.png") no-repeat center center;margin:-2px 0 0 0;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.k-grid-header th.k-header>.k-link .k-i-arrow-d{background:url("../Images/btn/grid_sort_normal.png") no-repeat center center;vertical-align:middle;margin:0;}
.k-grid-header th.k-header>.k-link:hover .k-i-arrow-d{background:url("../Images/btn/grid_sort_normal.png") no-repeat center center;vertical-align:middle;margin:0;}
.k-grid-header th.k-header>.k-link .k-i-arrow-n{background:url("../Images/btn/grid_sort_up.png") no-repeat center center;vertical-align:middle;margin:0;}
.k-grid-header th.k-header>.k-link:hover .k-i-arrow-n{background:url("../Images/btn/grid_sort_up.png") no-repeat center center;vertical-align:middle;margin:0;}
.k-grid-header th.k-header>.k-link .k-i-arrow-s{background:url("../Images/btn/grid_sort_down.png") no-repeat center center;vertical-align:middle;margin:0;}
.k-grid-header th.k-header>.k-link:hover .k-i-arrow-s{background:url("../Images/btn/grid_sort_down.png") no-repeat center center;vertical-align:middle;margin:0;}
}

/* 그리드 테이블 내 버튼*/
.k-grid tbody .k-button, .k-ie8 .k-grid tbody button.k-button {height:20px; padding:0 12px; line-height:20px;border-radius:0px;margin:0px;min-width:auto;}
.k-grid tbody .k-button:hover, .k-ie8 .k-grid tbody button.k-button:hover {border:1px solid #1088e3;background:#fff;}
.k-grid tbody .k-button:active, .k-ie8 .k-grid tbody button.k-button:active {border:1px solid #1088e3;background:#f4f9fe;}

/* 그리드 테이블 헤더숨김처리 */
.grid_noheader .k-grid-header{height:0; display:none;}

/*테이블 셀렉트*/
table tr.k-state-selected{color:#4a4a4a;background-color:#e6f4ff;border-color:#e6f4ff;}

/* input */
input[type="text"].k-input {border:none;}

/*좌측메뉴*/
.nav_div div.k-treeview {overflow:hidden;}
.side_wrap.ma .nav_div div.k-treeview {overflow:visible;}

/*게시판 서브 네비게이션
.contents_wrap .side_wrap #bd_nav{overflow:hidden;border:none;}
.contents_wrap .side_wrap #bd_nav li.k-item{font-size:16px;font-weight:bold;font-family:NBG;border:none;}
.contents_wrap .side_wrap #bd_nav li.k-state-default > .k-link{font-size:14px;font-weight:normal;color:#4a4a4a;padding:15px 0 15px 20px;background-color:#f4f5f7;line-height:1;background-image:none;}
.contents_wrap .side_wrap #bd_nav li.k-state-default > .k-link.k-state-hover:hover{background-color:#d8eafc;background-image:none;}
.contents_wrap .side_wrap #bd_nav li.k-state-default > .k-link.k-state-selected{background-color:#d8eafc;box-shadow:none;background-image:none;}
.contents_wrap .side_wrap #bd_nav li.k-state-default > .k-link.on{background-color:#d8eafc;box-shadow:none}
.contents_wrap .side_wrap #bd_nav li.k-state-default > .k-link > .k-icon.k-i-arrow-s.k-panelbar-expand{width:4px;height:7px;position:absolute;top:19px;right:19px;margin:0px;background:url('../Images/bg/nav_arr_sp.png') no-repeat 0px 0px;}
.contents_wrap .side_wrap #bd_nav li.k-state-default > .k-link > .k-icon.k-i-arrow-n.k-panelbar-collapse{width:7px;height:4px;position:absolute;top:19px;right:19px;margin:0px;background:url('../Images/bg/nav_arr_sp.png') no-repeat -4px -1px;}
.contents_wrap .side_wrap #bd_nav li.k-state-default > .k-link + .k-group{padding:10px 0;}
.contents_wrap .side_wrap #bd_nav li.k-state-default > .k-link + .k-group li.k-state-default > .k-link {font-size:12px;font-family:'돋움',Dotum;font-weight:normal;color:#4a4a4a;line-height:1;letter-spacing:-1px;padding:7px 0 7px 21px;background-color:#fff;}
.contents_wrap .side_wrap #bd_nav li.k-state-default > .k-link + .k-group li.k-state-default > .k-link.k-state-hover:hover{font-weight:bold;color:#058df5;}
.contents_wrap .side_wrap #bd_nav li.k-state-default > .k-link + .k-group li.k-state-default > .k-link.k-state-selected{font-weight:bold;color:#058df5;}
*/

/*서브 네비게이션_관리자
.admin .contents_wrap .side_wrap #sub_nav li.k-state-default > .k-link{font-size:14px;font-weight:normal;color:#4a4a4a;padding:15px 0 15px 20px;background-color:#e6ecf2;line-height:1;background-image:none;}
.admin .contents_wrap .side_wrap #sub_nav li.k-state-default > .k-link.k-state-hover:hover{color:#fff;background-color:#89add1;background-image:none;}
.admin .contents_wrap .side_wrap #sub_nav li.k-state-default > .k-link.k-state-selected{color:#fff;background-color:#89add1;box-shadow:none;background-image:none;}
.admin .contents_wrap .side_wrap #sub_nav li.k-state-default > .k-link.on{color:#fff;background-color:#89add1;box-shadow:none}
.admin .contents_wrap .side_wrap #sub_nav li.k-state-default > .k-link > .k-icon.k-i-arrow-n.k-panelbar-collapse{width:7px;height:4px;position:absolute;top:19px;right:19px;margin:0px;background:url('../Images/bg/nav_arr_sp.png') no-repeat -11px -1px;}
*/

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*서브 네비게이션
***************************/
/*2d*/
#sub_nav li{padding:0;position:relative;font-size:14px;font-family:NBG;border:none;}
#sub_nav > li{border-bottom:1px solid #dcdcdc;}

#sub_nav li .k-top .k-icon.k-plus,
#sub_nav li .k-mid .k-icon.k-plus,
#sub_nav li .k-bot .k-icon.k-plus{width:4px;height:9px;position:absolute;top:17px;right:19px;margin:0px;background:url('../Images/bg/nav_arr_sp.png') no-repeat 0px 1px;}

#sub_nav li .k-top .k-icon.k-minus,
#sub_nav li .k-mid .k-icon.k-minus,
#sub_nav li .k-bot .k-icon.k-minus{width:7px;height:4px;position:absolute;top:19px;right:19px;margin:0px;background:url('../Images/bg/nav_arr_sp.png') no-repeat -4px -1px;}

/*메일 화살표*/
#sub_nav li .k-top .k-icon.k-plus.mail_arr,
#sub_nav li .k-mid .k-icon.k-plus.mail_arr,
#sub_nav li .k-bot .k-icon.k-plus.mail_arr{width:6px;height:13px;position:absolute;top:17px;right:15px;margin:0px;background:url('../Images/bg/nav_arr_sp2.png') no-repeat 0px 1px;}

#sub_nav li .k-top .k-icon.k-minus.mail_arr,
#sub_nav li .k-mid .k-icon.k-minus.mail_arr,
#sub_nav li .k-bot .k-icon.k-minus.mail_arr{width:11px;height:10px;position:absolute;top:19px;right:14px;margin:0px;background:url('../Images/bg/nav_arr_sp2.png') no-repeat -6px -1px;}

#sub_nav li .k-in{display:block;margin:0;font-size:14px;color:#4a4a4a;padding:13px 0 14px 20px;background-color:#f4f5f7;line-height:1;background-image:none;border-radius:0;box-shadow:none;cursor:pointer;}
#sub_nav li .on .k-in{background-color:#d8eafc;background-image:none;}
#sub_nav li .k-in:hover{background-color:#d8eafc;background-image:none;}
#sub_nav li .k-in.k-state-selected{background-color:#d8eafc;box-shadow:none;background-image:none;}

/*3d*/
#sub_nav li .k-top + .k-group,
#sub_nav li .k-mid + .k-group,
#sub_nav li .k-bot + .k-group{padding:10px 0;background:#fff;border-top: 1px solid #dcdcdc;}

#sub_nav li .k-top + .k-group li .k-top .k-icon.k-plus,
#sub_nav li .k-mid + .k-group li .k-top .k-icon.k-plus,
#sub_nav li .k-bot + .k-group li .k-top .k-icon.k-plus,
#sub_nav li .k-top + .k-group li .k-mid .k-icon.k-plus,
#sub_nav li .k-mid + .k-group li .k-mid .k-icon.k-plus,
#sub_nav li .k-bot + .k-group li .k-mid .k-icon.k-plus,
#sub_nav li .k-top + .k-group li .k-bot .k-icon.k-plus,
#sub_nav li .k-mid + .k-group li .k-bot .k-icon.k-plus,
#sub_nav li .k-bot + .k-group li .k-bot .k-icon.k-plus{width:7px;height:7px;position:absolute;top:9px;left:19px;margin:0px;background:url('../Images/ico/side_tree_sp.png') no-repeat 0px 0px;}

#sub_nav li .k-top + .k-group li .k-top .k-icon.k-minus,
#sub_nav li .k-mid + .k-group li .k-top .k-icon.k-minus,
#sub_nav li .k-bot + .k-group li .k-top .k-icon.k-minus,
#sub_nav li .k-top + .k-group li .k-mid .k-icon.k-minus,
#sub_nav li .k-mid + .k-group li .k-mid .k-icon.k-minus,
#sub_nav li .k-bot + .k-group li .k-mid .k-icon.k-minus,
#sub_nav li .k-top + .k-group li .k-bot .k-icon.k-minus,
#sub_nav li .k-mid + .k-group li .k-bot .k-icon.k-minus,
#sub_nav li .k-bot + .k-group li .k-bot .k-icon.k-minus{width:7px;height:7px;position:absolute;top:9px;left:19px;margin:0px;background:url('../Images/ico/side_tree_sp.png') no-repeat -7px 0px;}

#sub_nav li .k-top + .k-group li .k-in,
#sub_nav li .k-mid + .k-group li .k-in,
#sub_nav li .k-bot + .k-group li .k-in{font-size:12px;font-family:'돋움',Dotum;font-weight:normal;color:#4a4a4a;line-height:1;letter-spacing:-1px;padding:7px 7px 7px 31px;background-color:#fff;border:none;box-shadow:none;cursor:pointer; text-overflow:ellipsis;overflow:hidden; width:auto;}

.side_wrap.ma #sub_nav li .k-top + .k-group li .k-in,
.side_wrap.ma #sub_nav li .k-mid + .k-group li .k-in,
.side_wrap.ma #sub_nav li .k-bot + .k-group li .k-in{font-size:12px;font-family:'돋움',Dotum;font-weight:normal;color:#4a4a4a;line-height:1;letter-spacing:-1px;padding:7px 0 7px 31px;background-color:#fff;border:none;box-shadow:none;cursor:pointer;    overflow: visible;}

#sub_nav li .k-top + .k-group li .on .k-in,
#sub_nav li .k-mid + .k-group li .on .k-in,
#sub_nav li .k-bot + .k-group li .on .k-in{font-weight:bold;color:#058df5;}

#sub_nav li .k-top + .k-group li .k-in:hover,
#sub_nav li .k-mid + .k-group li .k-in:hover,
#sub_nav li .k-bot + .k-group li .k-in:hover{font-weight:bold;color:#058df5;}

#sub_nav li .k-top + .k-group li .k-in.k-state-selected,
#sub_nav li .k-mid + .k-group li .k-in.k-state-selected,
#sub_nav li .k-bot + .k-group li .k-in.k-state-selected{font-weight:bold;color:#058df5;}

/*4d*/
#sub_nav li .k-top + .k-group li .k-top + .k-group,
#sub_nav li .k-mid + .k-group li .k-top + .k-group,
#sub_nav li .k-bot + .k-group li .k-top + .k-group,
#sub_nav li .k-top + .k-group li .k-mid + .k-group,
#sub_nav li .k-mid + .k-group li .k-mid + .k-group,
#sub_nav li .k-bot + .k-group li .k-mid + .k-group,
#sub_nav li .k-top + .k-group li .k-bot + .k-group,
#sub_nav li .k-mid + .k-group li .k-bot + .k-group,
#sub_nav li .k-bot + .k-group li .k-bot + .k-group{padding:0;background:#fff;border:none;}

#sub_nav li .k-top + .k-group li .k-top + .k-group li .k-in,
#sub_nav li .k-mid + .k-group li .k-top + .k-group li .k-in,
#sub_nav li .k-bot + .k-group li .k-top + .k-group li .k-in,
#sub_nav li .k-top + .k-group li .k-mid + .k-group li .k-in,
#sub_nav li .k-mid + .k-group li .k-mid + .k-group li .k-in,
#sub_nav li .k-bot + .k-group li .k-mid + .k-group li .k-in,
#sub_nav li .k-top + .k-group li .k-bot + .k-group li .k-in,
#sub_nav li .k-mid + .k-group li .k-bot + .k-group li .k-in,
#sub_nav li .k-bot + .k-group li .k-bot + .k-group li .k-in{font-size:12px;font-family:'돋움',Dotum;font-weight:normal;color:#4a4a4a;line-height:1;letter-spacing:-1px;padding:7px 7px 7px 47px;background-color:#fff;border:none;background:url('../Images/ico/side_tree_sp_sub.png') no-repeat 36px 8px;box-shadow:none;cursor:pointer;}

#sub_nav li .k-top + .k-group li .k-top + .k-group li .on .k-in,
#sub_nav li .k-mid + .k-group li .k-top + .k-group li .on .k-in,
#sub_nav li .k-bot + .k-group li .k-top + .k-group li .on .k-in,
#sub_nav li .k-top + .k-group li .k-mid + .k-group li .on .k-in,
#sub_nav li .k-mid + .k-group li .k-mid + .k-group li .on .k-in,
#sub_nav li .k-bot + .k-group li .k-mid + .k-group li .on .k-in,
#sub_nav li .k-top + .k-group li .k-bot + .k-group li .on .k-in,
#sub_nav li .k-mid + .k-group li .k-bot + .k-group li .on .k-in,
#sub_nav li .k-bot + .k-group li .k-bot + .k-group li .on .k-in{font-weight:bold;color:#4a4a4a;}

#sub_nav li .k-top + .k-group li .k-top + .k-group li .k-in:hover,
#sub_nav li .k-mid + .k-group li .k-top + .k-group li .k-in:hover,
#sub_nav li .k-bot + .k-group li .k-top + .k-group li .k-in:hover,
#sub_nav li .k-top + .k-group li .k-mid + .k-group li .k-in:hover,
#sub_nav li .k-mid + .k-group li .k-mid + .k-group li .k-in:hover,
#sub_nav li .k-bot + .k-group li .k-mid + .k-group li .k-in:hover,
#sub_nav li .k-top + .k-group li .k-bot + .k-group li .k-in:hover,
#sub_nav li .k-mid + .k-group li .k-bot + .k-group li .k-in:hover,
#sub_nav li .k-bot + .k-group li .k-bot + .k-group li .k-in:hover{font-weight:bold;color:#4a4a4a;}

#sub_nav li .k-top + .k-group li .k-top + .k-group li .k-in.k-state-selected,
#sub_nav li .k-mid + .k-group li .k-top + .k-group li .k-in.k-state-selected,
#sub_nav li .k-bot + .k-group li .k-top + .k-group li .k-in.k-state-selected,
#sub_nav li .k-top + .k-group li .k-mid + .k-group li .k-in.k-state-selected,
#sub_nav li .k-mid + .k-group li .k-mid + .k-group li .k-in.k-state-selected,
#sub_nav li .k-bot + .k-group li .k-mid + .k-group li .k-in.k-state-selected,
#sub_nav li .k-top + .k-group li .k-bot + .k-group li .k-in.k-state-selected,
#sub_nav li .k-mid + .k-group li .k-bot + .k-group li .k-in.k-state-selected,
#sub_nav li .k-bot + .k-group li .k-bot + .k-group li .k-in.k-state-selected{font-weight:bold;color:#4a4a4a;}


/*서브 네비게이션_관리자
***************************/

/*2d*/
.admin .contents_wrap .side_wrap #sub_nav li{padding:0;position:relative;font-size:14px;font-family:NBG;border:none;}
.admin .contents_wrap .side_wrap #sub_nav > li{border-bottom:1px solid #dcdcdc;}
.admin .contents_wrap .side_wrap #sub_nav li .k-top .k-icon.k-plus,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid .k-icon.k-plus,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot .k-icon.k-plus{width:4px;height:7px;position:absolute;top:19px;right:19px;margin:0px;background:url('../Images/bg/nav_arr_sp.png') no-repeat 0px 0px;}
.admin .contents_wrap .side_wrap #sub_nav li .k-top .k-icon.k-minus,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid .k-icon.k-minus,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot .k-icon.k-minus{width:7px;height:4px;position:absolute;top:19px;right:19px;margin:0px;background:url('../Images/bg/nav_arr_sp.png') no-repeat -4px -1px;}
/* 이전백업
.admin .contents_wrap .side_wrap #sub_nav li .k-bot .k-icon.k-minus{width:7px;height:4px;position:absolute;top:19px;right:19px;margin:0px;background:url('../Images/bg/nav_arr_sp.png') no-repeat -11px -1px;}
.admin .contents_wrap .side_wrap #sub_nav li .k-bot .k-icon.k-minus{width:7px;height:4px;position:absolute;top:19px;right:19px;margin:0px;background:url('../Images/bg/nav_arr_sp.png') no-repeat -11px -1px;}
.admin .contents_wrap .side_wrap #sub_nav li .k-in{display:block;margin:0;font-size:14px;color:#4a4a4a;padding:15px 0 15px 20px;background-color:#e6ecf2;line-height:1;background-image:none;border-radius:0;box-shadow:none;cursor:pointer;}
.admin .contents_wrap .side_wrap #sub_nav li .on .k-in{color:#fff;background-color:#89add1;background-image:none;}
.admin .contents_wrap .side_wrap #sub_nav li .k-in:hover{color:#fff;background-color:#89add1;background-image:none;}
.admin .contents_wrap .side_wrap #sub_nav li .k-in.k-state-selected{color:#fff;background-color:#89add1;box-shadow:none;background-image:none;}
*/
.admin .contents_wrap .side_wrap #sub_nav li .k-bot .k-icon.k-minus{width:7px;height:4px;position:absolute;top:19px;right:19px;margin:0px;background:url('../Images/bg/nav_arr_sp.png') no-repeat -4px -1px;}
.admin .contents_wrap .side_wrap #sub_nav li .k-in{display:block;margin:0;font-size:14px;color:#4a4a4a;padding:13px 0 14px 20px;background-color:#e6ecf2;line-height:1;background-image:none;border-radius:0;box-shadow:none;cursor:pointer;}
.admin .contents_wrap .side_wrap #sub_nav li .on .k-in{color:#fff;background-color:#89add1;background-image:none;}
.admin .contents_wrap .side_wrap #sub_nav li .k-in:hover{color:#fff;background-color:#89add1;background-image:none;}
.admin .contents_wrap .side_wrap #sub_nav li .k-in.k-state-selected{color:#fff;background-color:#89add1;box-shadow:none;background-image:none;}

/*3d*/
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group{padding:10px 0;background:#fff;border-top: 1px solid #dcdcdc;}

.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-top .k-icon.k-plus,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-top .k-icon.k-plus,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-top .k-icon.k-plus,
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-mid .k-icon.k-plus,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-mid .k-icon.k-plus,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-mid .k-icon.k-plus,
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-bot .k-icon.k-plus,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-bot .k-icon.k-plus,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-bot .k-icon.k-plus{width:7px;height:7px;position:absolute;top:9px;left:19px;margin:0px;background:url('../Images/ico/side_tree_sp.png') no-repeat 0px 0px;}

.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-top .k-icon.k-minus,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-top .k-icon.k-minus,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-top .k-icon.k-minus,
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-mid .k-icon.k-minus,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-mid .k-icon.k-minus,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-mid .k-icon.k-minus,
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-bot .k-icon.k-minus,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-bot .k-icon.k-minus,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-bot .k-icon.k-minus{width:7px;height:7px;position:absolute;top:9px;left:19px;margin:0px;background:url('../Images/ico/side_tree_sp.png') no-repeat -7px 0px;}

.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-in{font-size:12px;font-family:'돋움',Dotum;font-weight:normal;color:#4a4a4a;line-height:1;letter-spacing:-1px;padding:7px 0 7px 31px;background-color:#fff;border:none;box-shadow:none;cursor:pointer;}

/* 이전백업
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .on .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .on .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .on .k-in{font-weight:bold;color:#058df5;}

.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-in:hover,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-in:hover,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-in:hover{font-weight:bold;color:#058df5;}

.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-in.k-state-selected,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-in.k-state-selected,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-in.k-state-selected{font-weight:bold;color:#058df5;}
*/
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .on .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .on .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .on .k-in{font-weight:bold;color:#4a4a4a;}

.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-in:hover,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-in:hover,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-in:hover{font-weight:bold;color:#058df5;}

.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-in.k-state-selected,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-in.k-state-selected,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-in.k-state-selected{font-weight:bold;color:#058df5;}

/*4d*/
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-top + .k-group,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-top + .k-group,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-top + .k-group,
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-mid + .k-group,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-mid + .k-group,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-mid + .k-group,
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-bot + .k-group,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-bot + .k-group,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-bot + .k-group{padding:0;background:#fff;border:none;}

.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-top + .k-group li .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-top + .k-group li .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-top + .k-group li .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-mid + .k-group li .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-mid + .k-group li .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-mid + .k-group li .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-bot + .k-group li .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-bot + .k-group li .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-bot + .k-group li .k-in{font-size:12px;font-family:'돋움',Dotum;font-weight:normal;color:#4a4a4a;line-height:1;letter-spacing:-1px;padding:7px 0 7px 47px;background-color:#fff;border:none;background:url('../Images/ico/side_tree_sp_sub.png') no-repeat 36px 8px;box-shadow:none;cursor:pointer;}

.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-top + .k-group li .on .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-top + .k-group li .on .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-top + .k-group li .on .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-mid + .k-group li .on .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-mid + .k-group li .on .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-mid + .k-group li .on .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-bot + .k-group li .on .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-bot + .k-group li .on .k-in,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-bot + .k-group li .on .k-in{font-weight:bold;color:#4a4a4a;}

.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-top + .k-group li .k-in:hover,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-top + .k-group li .k-in:hover,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-top + .k-group li .k-in:hover,
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-mid + .k-group li .k-in:hover,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-mid + .k-group li .k-in:hover,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-mid + .k-group li .k-in:hover,
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-bot + .k-group li .k-in:hover,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-bot + .k-group li .k-in:hover,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-bot + .k-group li .k-in:hover{font-weight:bold;color:#4a4a4a;}

.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-top + .k-group li .k-in.k-state-selected,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-top + .k-group li .k-in.k-state-selected,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-top + .k-group li .k-in.k-state-selected,
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-mid + .k-group li .k-in.k-state-selected,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-mid + .k-group li .k-in.k-state-selected,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-mid + .k-group li .k-in.k-state-selected,
.admin .contents_wrap .side_wrap #sub_nav li .k-top + .k-group li .k-bot + .k-group li .k-in.k-state-selected,
.admin .contents_wrap .side_wrap #sub_nav li .k-mid + .k-group li .k-bot + .k-group li .k-in.k-state-selected,
.admin .contents_wrap .side_wrap #sub_nav li .k-bot + .k-group li .k-bot + .k-group li .k-in.k-state-selected{font-weight:bold;color:#4a4a4a;}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*탭메뉴 스타일 변경
 -20151019 .k-tabstrip-items 배경추가[허정명]
 
*/
.k-tabstrip .k-tabstrip-items {padding:10px 0px 0 0px;}
.elec_tab .k-tabstrip-items li:first-child {border-left:none;}
.elec_tab .k-tabstrip-items {overflow: hidden;background-color: #fcfcfc;}
.tab_div .k-header {  border-color: #dcdcdc;}
.tab_div .k-loading.k-complete {border-top:none}
.k-tabstrip-items .k-link {border-radius: 0px 0px 0 0;}
.k-tabstrip-items .k-item {border-radius: 0px 0px 0 0;}
.k-tabstrip-items .k-state-active {  border-color: #c9cac9;font-weight:bold;}
.k-tabstrip-items .k-item .k-image {margin:0px;}
.k-tabstrip-items .plus.k-item .k-image {margin:0px;padding-top:9px;}
.k-tabstrip-items .k-link {padding:0 .92em;height:32px; line-height:32px;}
.k-tabstrip>.k-content {padding:0px;margin:0px;border:none;}
.k-tabstrip>.tab_area {border-top:1px solid #c9cac9;}
@media \0screen{ .k-tabstrip-items .k-item {margin:0 -5px 0 0;} } /*ie8에서만*/

/*컨텐츠내부 탭메뉴 스타일 변경*/
.tab_style{border:none;}
.tab_style .k-tabstrip-items {text-align:left;border-bottom:1px solid #c9cac9;padding:0px 0 0 0;height:33px;}
.tab_style .k-loading.k-complete {border-top:none}
.tab_style .k-header {border-color: #dcdcdc;}
.tab_style .k-tabstrip-items .k-link {padding:0 26px;border-radius: 0px 0px 0 0;    min-width: 55px; text-align: center; color:#4a4a4a;}
.tab_style .k-tabstrip-items .k-item {border-radius: 0px 0px 0 0;border-width: 1px;background:#f8f8f8; }
.tab_style .k-tabstrip-items .k-state-active {border-color:#c9cac9;background:#fff;font-weight:bold;border-width: 1px 1px 0 1px;height:33px;}
.tab_style .k-tabstrip-items .k-state-hover {background:#f8f8f8  ;border-color:#dbdbde; }
.tab_style .k-tabstrip-items .k-state-hover .k-link {text-decoration:underline;}
@media \0screen{ .tab_style .k-tabstrip-items .k-item {margin:0 -5px 0 0;} } /*ie8에서만*/

/*컨텐츠내부 탭메뉴 스타일 변경*/
.con_tab_style{border:none;}
.con_tab_style .k-tabstrip-items {text-align:right;border-bottom:1px solid #c9cac9;padding:10px 1px 0 0;height:32px;}
.con_tab_style .k-loading.k-complete {border-top:none}
.con_tab_style .k-header {border-color: #dcdcdc;}
.con_tab_style .k-tabstrip-items .k-link {padding:0 40px;border-radius: 0px 0px 0 0;}
.con_tab_style .k-tabstrip-items .k-item {border-radius: 0px 0px 0 0;border-width: 1px;}
.con_tab_style .k-tabstrip-items .k-state-active {border-color:#c9cac9;font-weight:bold;border-width: 1px 1px 0 1px;}
.con_tab_style .k-tabstrip-items .k-state-hover {background:#f3f3f4;border-color:#dbdbde;}
@media \0screen{ .con_tab_style .k-tabstrip-items .k-item {margin:0 -5px 0 0;} } /*ie8에서만*/	
	

/*첨부파일 변경*/
.k-upload {border:none;background-color: #fff;}
.k-button.k-upload-button {margin:0px;float:right;border:1px solid #c9cac9; height:24px;line-height:24px; min-width:inherit; background:#fff;padding:0px 12px;border-radius:0px;}
.k-button.k-upload-button:hover {border:1px solid #1088e3;}
.k-button.k-upload-button:focus {box-shadow:none;border:1px solid #1088e3;}
.k-upload-button input {clear:both;}
.k-button.k-upload-button span {}

.k-upload-files {float:left;display:block;line-height:22px;border: 1px solid #c3c3c3;margin:0px; padding:0px;background:#fff;}
.k-filename {text-overflow:ellipsis;  margin-left: 0px;line-height:22px;float:left; padding-bottom: 0px;max-width:400px;min-width: inherit;}
.k-file {border:none; background:none;padding:0px;clear:both;}

.k-upload-status {top:2px;right:0px;float:left;position:inherit;}
.k-upload-files .k-button, .k-upload-status-total .k-icon {margin-left:0px;}
.com_ta table td .k-upload-files li {margin-top:0px}
.k-state-focused,.k-list>.k-state-focused,.k-listview>.k-state-focused,.k-grid-header th.k-state-focused,td.k-state-focused,.k-button.k-state-focused{-webkit-box-shadow:none;box-shadow:none;}

.k-file>.k-icon {background: url("../Images/ico/ico_clip02.png") no-repeat center center;margin-right: 2px; height:22px;   margin-left: 9px;float:left;}
.k-upload-status button .k-icon {background: url("../Images/btn/close_btn01.png") no-repeat center center;}
.k-upload-status button .k-icon:hover {background: url("../Images/btn/close_btn01.png") no-repeat center center !important;}

/*마이페이지 파일업로드*/
.mypage_file_upload{display:inline-block;}
.mypage_file_upload .k-button.k-upload-button{float:none;}
.mypage_file_upload .k-dropzone{padding:0;}
.mypage_file_upload .k-dropzone .k-button.k-upload-button{float:none;}
.mypage_file_upload .k-dropzone em{display:none;}
.mypage_file_upload .k-upload-files.k-reset{display:none;}


/*버튼변경*/
.controll_btn button {background:#fff; border-radius:0px; box-shadow:none; padding:0px 12px; height:24px; line-height:24px;border:1px solid #c9cac9;outline:0;}
.controll_btn button:hover {border:1px solid #1088e3;background:#fff;}
.controll_btn button:active {border:1px solid #1088e3;background:#f4f9fe;}
.controll_btn button:focus {box-shadow:none;}
.k-status-focused {background:#fff;box-shadow:none;}
.k-button:focus {box-shadow:none;}
.k-button:focus:not(.k-state-disabled):not([disabled]){-webkit-box-shadow:none;box-shadow:none;}
.k-button:focus:active:not(.k-state-disabled):not([disabled]){-webkit-box-shadow:none;box-shadow:none;}
.k-button:active,.k-button.k-state-active{color:#4a4a4a;background-color:#fff;border-color:#1088e3}
.k-button:active:hover,.k-button.k-state-active:hover{color:#4a4a4a;border-color:#1088e3;background-color:#fff}

/*셀렉트박스변경*/
.k-widget.k-combobox.k-header {background:#fff;height:24px;}
.k-dropdown-wrap .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input {border-radius:0px 0px 0px;padding:0px;}
.k-dropdown-wrap .k-input {height:22px; line-height:22px;}
.k-dropdown-wrap.k-state-default {background:#fff;box-shadow:none;border:1px solid #c3c3c3; height:22px; border-radius:0px 0px 0px;}
.k-dropdown-wrap.k-state-focused {background:none;box-shadow:none;border:1px solid #c3c3c3;}
.k-dropdown-wrap.k-state-hover {background:none;box-shadow:none;border:1px solid #c3c3c3;}
.k-dropdown-wrap .k-select{border-radius:0px;width:100%;display:inline;border-left:none;  cursor: pointer;}
.k-state-hover>.k-select {background:none;border-radius:0px;}
.k-dropdown-wrap.k-state-hover .k-select{margin:0px;}
.k-dropdown-wrap .k-i-arrow-s {  background-position: 0 -30px;}
.k-dropdown-wrap .k-icon{float:right;margin-right:2px;background: url("../Images/ico/ico_btn_arr_down01.png") no-repeat center 77%;}
.k-state-hover>*>.k-i-arrow-s { /*background-position: 0 -30px;*/}
.k-dropdown-wrap.k-state-disabled {border-radius:0px;background:none;}
.k-dropdown-wrap.k-state-disabled .k-select {cursor:default;}
.k-dropdown-wrap.k-state-disabled .k-select:focus {outline:none;}
.k-webkit .k-combobox .k-dropdown-wrap:before { padding-bottom:0px;}

/*전자결재 셀렉트 커스텀*/
.ea_sign_sel.k-widget.k-combobox.k-header {background:none;height:24px;}
.ea_sign_sel .k-dropdown-wrap .k-input {background:none;height:22px;line-height:22px;color:#ffffff;}
.ea_sign_sel .k-dropdown-wrap.k-state-default {background:none;box-shadow:none;border:1px solid #5aaae6; height:22px; border-radius:0px 0px 0px;}
.ea_sign_sel .k-dropdown-wrap.k-state-focused {background:none;box-shadow:none;border:1px solid #5aaae6;}
.ea_sign_sel .k-dropdown-wrap.k-state-hover {background:none;box-shadow:none;border:1px solid #5aaae6;}
.ea_sign_sel .k-dropdown-wrap .k-icon{float:right;margin-right:2px;background: url("../Images/ico/ico_btn_arr_down01_ea.png") no-repeat center 77%;}
#eaSignSel-list.k-list-container{background:#ffffff;border-color:#737573;border-radius:0} 
#eaSignSel_listbox.k-list .k-state-focused{border:none;border-radius:0}
#eaSignSel_listbox.k-list .k-state-hover{border-radius:0}

/*날짜선택박스변경*/
.k-widget.k-datepicker.k-header{background:#fff;height:24px;}
.k-picker-wrap.k-state-default{background:#fff;box-shadow:none;border:1px solid #c3c3c3; height:22px; border-radius:0px 0px 0px;}
.k-picker-wrap.k-state-focused {background:none;box-shadow:none;border:1px solid #c3c3c3;height:22px;}
.k-picker-wrap.k-state-hover {background:none;box-shadow:none;border:1px solid #c3c3c3;height:22px;}
.k-picker-wrap.k-state-disabled {border-radius:0px;height:22px;}
.k-picker-wrap .k-input{height:22px; line-height:22px;}
.k-picker-wrap .k-select{border-radius:0px;width:22px;    border-left: 1px solid #c3c3c3;}
/*.k-picker-wrap .k-icon{margin:3px 0 0 0;background: url("../Images/btn/btn_dal01.png") no-repeat center center;}*/
.k-picker-wrap .k-icon{margin:3px 0 0 0;vertical-align:top;}/*20160422 허정명 :: 달력아이콘 가운데 정렬수정*/
.k-webkit .k-picker-wrap:before{height:24px;padding:0;}

/*메일 환경설정 탭메뉴 스타일 변경*/
.mail_setting_wrap .k-tabstrip-items li {border:none;}
.mail_setting_wrap .k-tabstrip-items li.k-state-default:first-child {background:none;}
.mail_setting_wrap .k-tabstrip-items li:hover {background:url('../Images/ico/ico_set_bg_bar01.png') no-repeat left center;}
.mail_setting_wrap .k-tabstrip-items li.k-state-default {background:url('../Images/ico/ico_set_bg_bar01.png') no-repeat left center;}
.mail_setting_wrap .k-tabstrip-items .k-tab-on-top, .k-tabstrip-items .k-state-active, .k-panelbar .k-tabstrip-items .k-state-active {margin-bottom:0px; padding-bottom:0px;}
.mail_setting_wrap .k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item {margin:0px;}
.mail_setting_wrap .k-tabstrip .k-tabstrip-items {padding:6px 15px;}
.mail_setting_wrap .k-tabstrip-items .k-link {padding:0 12px; }
.mail_setting_wrap .k-tabstrip-items li.k-state-active .k-link {padding-left:26px; background:url('../Images/ico/ico_chk_blue02.png') no-repeat 9px center; color:#058df5;}

/*메일 kendo 테이블 변경*/
.mail_grid .k-grid td{border:0px !important;}

/*캘린더*/
.k-scheduler-content .k-event {line-height:16px;}
.k-scheduler-content .k-event-actions, .k-event>.k-link, .k-task>.k-link {top:-1px;}

.k-scheduler-table .k-scheduler-datecolumn.k-first .k-scheduler-agendadate {font-size:12px; font-weight:bold;}
.k-scheduler-agendaview .k-scheduler-table td.k-first {vertical-align:middle;    border-bottom: 1px solid #dbdbde;}
.k-scheduler-agendaview .k-scheduler-table td {vertical-align:middle;}
.k-scheduler-agendaview .k-scheduler-table td.le {text-align:left !important;}
.k-scheduler-table tr:last-child td {border-bottom:1px solid #dbdbde !important}

.k-pager-wrap.k-grid-pager .k-pager-nav span.k-icon {margin-top:3px;}
:first-child.k-event-actions {margin:0 !important;} /* 캘린더 내용 줄 바뀜 시, 앞에 간격 맞도록 수정 */
.k-scheduler-content .k-state-selected {color:#2E9AFE !important;}

/* 다이얼로그 팝업
div.k-window-content{padding:0px;}
.k-window-titlebar{background:#1385db; color:#fff; border-radius:0 !important;font-size: 12px;color: #fff; line-height: 19px; font-weight: bold;  padding-left: 10px;} //팝업창 타이틀영역 백업
.k-window-titlebar{height:19px;line-height:19px;font-weight:bold;font-size:12px;color:#fff;border-radius:0 !important;background:#1385db;}
.k-window{border-color:#1385db !important;border-radius:0 !important;}
*/

/*다이얼로그 팝업_디자인수정본*/
div.k-window-content{padding:0px;}
.k-window{border-color:#adadad !important;border-radius:0 !important;}
.k-window-titlebar{height:30px;line-height:30px;font-weight:bold;font-size:12px;color:#058df5;border-color:#dcdcdc;border-radius:0 !important;background:#ffffff;}
.k-window-titlebar .k-window-title{left:16px;}
.k-window-titlebar .k-window-actions{right:10px;padding-top:10px;}


/*라디오버튼 + 체크박스*/
.k-radio:checked+.k-radio-label:after {width:6px; height:6px; top:5px; left:5px;background:#4a4a4a;}
.k-radio:checked+.k-radio-label:before {border:1px solid #1185de ;}
.k-radio:focus+.k-radio-label:before {border:1px solid #1185de ;box-shadow:none;}
.k-radio:hover+.k-radio-label:before {border:1px solid #1185de ;box-shadow:none;}
.k-radio:active+.k-radio-label:before {border:1px solid #1185de ;box-shadow:none;}
.k-radio:checked+:hover.k-radio-label:before {border:1px solid #1185de}

.k-checkbox:checked+.k-checkbox-label:before {border-radius:0px;}
.k-checkbox:checked+.k-checkbox-label:after {border:1px solid #1185de ;border-radius:0px;background:#e4f6ff url('../Images/ico/ico_chk_black01.png') no-repeat center center !important; content:"";}
.k-checkbox:focus+.k-checkbox-label:after{border-radius:0px;box-shadow:none;}
.k-checkbox:hover+.k-checkbox-label:after{border:1px solid #1185de ;border-radius:0px;box-shadow:none;}
.k-checkbox:active+.k-checkbox-label:after {border:1px solid #1185de ;border-radius:0px;box-shadow:none;}
.k-checkbox:focus+.k-checkbox-label:before{border-radius:0px;box-shadow:none;}
.k-checkbox:hover+.k-checkbox-label:before{border:1px solid #1185de ;border-radius:0px;box-shadow:none;}
.k-checkbox:active+.k-checkbox-label:before {border:1px solid #1185de ;border-radius:0px;box-shadow:none;}
.k-checkbox-label:after {border-radius:0px; box-shadow:none;}
.k-checkbox-label:before {border-radius:0px;}
.k-checkbox:checked+:hover.k-checkbox-label:after {border:1px solid #1185de}

.k-checkbox:checked:disabled+.k-checkbox-label:after {border:1px solid #1185de; border-radius:0px;background:#e4f6ff url('../Images/ico/ico_chk_black01.png') no-repeat center center !important; }
.k-checkbox:checked:disabled+:hover.k-checkbox-label:after {border:1px solid #1185de; border-radius:0px;}
.k-checkbox:disabled+:hover.k-checkbox-label:after {border:1px solid #dbdbde; border-radius:0px;}
.k-checkbox:disabled+.k-checkbox-label:after {border:1px solid #dbdbde; border-radius:0px;}

.k-radio:checked:disabled+.k-radio-label:before {border:1px solid #1185de; }
.k-radio:checked:disabled+:hover.k-radio-label:before {border:1px solid #1185de;}
.k-radio:disabled+:hover.k-radio-label:before {border:1px solid #dbdbde;}
.k-radio:disabled+.k-radio-label:before {border:1px solid #dbdbde; }



/*페이징 (준혁-151201)
.k-grid .k-pager-numbers {float:none;margin:0 6px;}

.k-pager-wrap.k-grid-pager {text-align:center;background:none;padding-top:20px;}
.k-pager-info.k-label {display:none;}
.k-pager-wrap.k-grid-pager .k-pager-nav span.k-icon {margin-top:0px;}

.k-pager-wrap>.k-link {float:none;border-radius:0px;border:none;display:inline-block;width:15px;height: 15px;padding: 0px; min-width:15px;margin:0 3px;}
.k-pager-wrap>.k-link:hover {background:none;width:15px;    text-decoration: underline;}
.k-pager-wrap>.k-link span {display:inline-block;width:15px; height:15px; border:1px solid #cccccc;line-height:15px;}
.k-pager-wrap>.k-link:hover span {border:1px solid #1088e3;}
.k-pager-wrap>.k-link span.k-i-seek-w {background: url("../Images/btn/btn_page_prepre01.png") center center no-repeat;}
.k-pager-wrap>.k-link:hover span.k-i-seek-w {background: url("../Images/btn/btn_page_prepre01.png") center center no-repeat;}
.k-pager-wrap>.k-link span.k-i-arrow-w{background: url("../Images/btn/btn_page_pre01.png") center center no-repeat;}
.k-pager-wrap>.k-link:hover span.k-i-arrow-w{background: url("../Images/btn/btn_page_pre01.png") center center no-repeat;}
.k-pager-wrap>.k-link span.k-i-arrow-e {background: url("../Images/btn/btn_page_nex01.png") center center no-repeat;}
.k-pager-wrap>.k-link:hover span.k-i-arrow-e{background: url("../Images/btn/btn_page_nex01.png") center center no-repeat;}
.k-pager-wrap>.k-link span.k-i-seek-e{background: url("../Images/btn/btn_page_nexnex01.png") center center no-repeat;}
.k-pager-wrap>.k-link:hover span.k-i-seek-e{background: url("../Images/btn/btn_page_nexnex01.png") center center no-repeat;}

.k-pager-wrap .k-pager-numbers li {height:15px;margin:0 2px;}
.k-pager-wrap .k-pager-numbers li .k-link {height:15px;line-height:19px !important; border-radius:0px; width:auto;display:inline;    border: none;}
.k-pager-wrap .k-pager-numbers li .k-link:hover {background:none;border:none;}
.k-pager-numbers li span {border-radius:0px;border:none !important;background:none !important;min-width:auto !important;}
.k-pager-numbers .k-current-page {border-radius:0px; }
.k-pager-numbers .k-state-selected {border-radius:0px;color:#058df5; font-weight:bold;line-height:19px !important;}
.k-grid.k-widget {border-bottom:none;}
.k-pager-sizes {display:none}
*/

/* 메인 달력 커스텀-------------------------------------------------------------------------------------------------------------------------------------------------*/

.M_calendar .schedule_cal_wrap{width:198px;height:212px;padding:0 15px;overflow:hidden;}
.M_calendar .schedule_cal_wrap #calendar{width:100%;border:none;}

/*달력헤더*/
.M_calendar .schedule_cal_wrap .k-calendar .k-header{height:43px;font-weight:bold;background:#ffffff;}
.M_calendar .schedule_cal_wrap .k-widget.k-calendar .k-nav-prev{width:30px !important;height:16px !important;top:12px;left:15px;}
.M_calendar .schedule_cal_wrap .k-widget.k-calendar .k-nav-next{width:30px !important;height:16px !important;top:12px;right:15px;}
.M_calendar .schedule_cal_wrap .k-widget.k-calendar .k-nav-prev.k-state-hover, .M_calendar .schedule_cal_wrap .k-widget.k-calendar .k-nav-next.k-state-hover{background:none;}
.M_calendar .schedule_cal_wrap .k-widget.k-calendar .k-nav-fast{width:140px;height:43px;line-height:43px;margin:0;font-size:16px;color:#616161;}
.M_calendar .schedule_cal_wrap .k-widget.k-calendar .k-nav-fast.k-state-hover{background:none;}

/*달력컨텐츠*/
.M_calendar .schedule_cal_wrap .k-content{height:inherit;}
.M_calendar .schedule_cal_wrap .k-calendar .k-content{color:#686868;}
.M_calendar .schedule_cal_wrap .k-calendar .k-content th{padding:4px 0 6px 0;font-size:11px;border:none;text-align:center;color:#686868;}
.M_calendar .schedule_cal_wrap .k-calendar .k-content td{padding:0;border-radius:0;font-size:11px;height:21px;color:#686868;}
.M_calendar .schedule_cal_wrap .k-calendar .k-content td.k-state-focused{background:none;box-shadow:none;}
.M_calendar .schedule_cal_wrap .k-calendar .k-content td.k-state-selected{background:none;}
.M_calendar .schedule_cal_wrap .k-calendar .k-content td.k-state-selected .k-link{color:#686868;border:1px solid #1088e3;}
.M_calendar .schedule_cal_wrap .k-calendar .k-content td.k-state-hover .k-link{color:#686868;border:1px solid #1088e3;background:#f4f9fe;}
.M_calendar .schedule_cal_wrap .k-calendar .k-content .k-link{display:block;overflow:hidden;min-height:1.8333em;line-height: 1.8333em;padding: 0;text-align: center;border: 1px solid #fff;border-radius:0;}

/*other-month*/
.M_calendar .schedule_cal_wrap .k-calendar .k-content .k-other-month{background:none;}
.M_calendar .schedule_cal_wrap .k-calendar .k-content .k-other-month.k-state-hover .k-link{border:none;background:none;color:#b3bac7}

/*월선택 메타뷰*/
.M_calendar .schedule_cal_wrap .k-calendar .k-content.k-meta-view .k-link{display:block;overflow:hidden;min-height:3.8333em;line-height: 3.8333em;padding: 0;text-align: center;border: 1px solid #fff;border-radius: 0;}
.M_calendar .schedule_cal_wrap .k-calendar .k-content.k-meta-view td{padding:0;border-radius:0;font-size:11px;height:49px;}
.M_calendar .schedule_cal_wrap .k-calendar .k-content.k-meta-view td.k-state-focused{background:none;box-shadow:none;}
.M_calendar .schedule_cal_wrap .k-calendar .k-content.k-meta-view td.k-state-selected{background:none;}
.M_calendar .schedule_cal_wrap .k-calendar .k-content.k-meta-view td.k-state-hover{background:none;} 

/*Today*/	
.M_calendar .schedule_cal_wrap .k-calendar .k-content .k-today{color:#686868;background:#f0f0f0;}
.M_calendar .schedule_cal_wrap .k-calendar .k-content .k-today.k-state-focused{color:#686868;background:#f0f0f0;border:none;}
.M_calendar .schedule_cal_wrap .k-calendar .k-content .k-today.k-state-selected{color:#686868;background:#f0f0f0;border:none;}
.M_calendar .schedule_cal_wrap .k-calendar .k-content .k-today.k-state-hover{color:#686868;background:#f0f0f0;border:none;}

/*일정있는경우*/
.schedule_cal_wrap .schedule{font-weight:bold;color:#058df5;text-decoration:underline}

/*일요일컬러*/
.schedule_cal_wrap .sunday{color:#e52e2e;}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/


