@charset "utf-8";
/*
 [수정이력]
 
 20161124 - bu_up , bu_down 클래스 추가(허정명)
 20161125 - bu_up , bu_down 이미지 수정(허정명)
 
 */


/**************************************************
   mReset :: 메일 본문 스타일 초기화
**************************************************/
.mReset dl,.mReset dt,.mReset dd,.mReset ul,.mReset ol,.mReset li,.mReset h1,.mReset h2,.mReset h3,.mReset h4,.mReset h5,.mReset h6,.mReset form,.mReset fieldset,.mReset p,.mReset button,
.mReset input,.mReset select,.mReset td,.mReset th,.mReset table,.mReset pre,.mReset strong,.mReset b,.mReset i,.mReset textarea{margin:initial;padding:initial; }
.mReset h1,.mReset h2,.mReset h3,.mReset h4,.mReset h5,.mReset h6,.mReset input,.mReset button,.mReset pre,.mReset textarea,.mReset select{font-family:initial;font-size:initial;}
.mReset img,.mReset fieldset,.mReset iframe{border:;initial;}
.mReset li{list-style:initial;}
.mReset input,.mReset select,.mReset button,.mReset img{vertical-align:initial;}
.mReset i,.mReset em,.mReset address{font-style:initial;}
.mReset label,.mReset button{cursor:initial;}
.mReset button{margin:initial;padding:initial;}
.mReset button *{position:initial;}
.mReset button img{left:initial;*left:initial;}
html:first-child .mReset select{height:initial;padding-right:initial;}
.mReset option{padding-right:initial;}
.mReset textarea {resize:initial;border:initial;}
.mReset hr{display:initial;}
.mReset legend{*width:initial;}
.mReset table{border-collapse:initial;border-spacing:initial;}
.mReset map area{outline:initial}
.mReset a {text-decoration:initial;color:initial;}
.mReset input[type="button"] {cursor:initial;}
.mReset input[type="text"] {height:initial;border:initial;}
.mReset input[type="password"] {height:initial;border:initial;text-indent:initial;}

/* 허정명 테스트 코드
.mReset form{display: block;margin-top: 0em;}
.mReset fieldset{display: block;-webkit-margin-start: 2px;-webkit-margin-end: 2px;-webkit-padding-before: 0.35em;-webkit-padding-start: 0.75em;-webkit-padding-end: 0.75em;-webkit-padding-after: 0.625em;min-width: -webkit-min-content;border: 2px groove threedface;}
.mReset p{display: block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
.mReset input,.mReset textarea,.mReset select,.mReset button {text-rendering: auto;color: initial;letter-spacing: normal;word-spacing: normal;text-transform: none;text-indent: 0px;text-shadow: none;display: inline-block;text-align: start;margin: 0em 0em 0em 0em;font: 13.3333px Arial;}
.mReset table{display: table;border-collapse: separate;border-spacing: 2px;border-color: grey;
.mReset tr{display: table-row;vertical-align: inherit;border-color: inherit;}
.mReset td{display: table-cell;vertical-align: inherit;}
.mReset th{font-weight:bold;display: table-cell; vertical-align: inherit;}
.mReset strong,.mReset b{font-weight: bold;}
.mReset i{font-style: italic;}
.mReset pre{display: block;font-family: monospace;white-space: pre;margin: 1em 0px 1em;}
.mReset dl{display: block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
.mReset dt{display: block;}
.mReset dd{display: block;-webkit-margin-start: 40px;}
.mReset ul{display: block;list-style-type: disc;webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 40px;}
.mReset ol{display: block;list-style-type: decimal;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 40px;}
.mReset li{display: list-item;text-align: -webkit-match-parent;}
.mReset h1{display: block;font-size: 2em;-webkit-margin-before: 0.67em;-webkit-margin-after: 0.67em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;}
.mReset h2{display: block;font-size: 1.5em;-webkit-margin-before: 0.83em;-webkit-margin-after: 0.83em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;}
.mReset h3{display: block;font-size: 1.17em;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;
.mReset h4{display: block;-webkit-margin-before: 1.33em;-webkit-margin-after: 1.33em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;}
.mReset h5{display: block;font-size: 0.83em;-webkit-margin-before: 1.67em;-webkit-margin-after: 1.67em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;}
.mReset h6{display: block;font-size: 0.67em;-webkit-margin-before: 2.33em;-webkit-margin-after: 2.33em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;}
.mReset img{border:initial;}
.mReset fieldset{display: block;-webkit-margin-start: 2px;-webkit-margin-end: 2px;-webkit-padding-before: 0.35em;-webkit-padding-start: 0.75em;-webkit-padding-end: 0.75em;-webkit-padding-after: 0.625em;min-width: -webkit-min-content;border: 2px groove threedface;}
.mReset iframe{border: 2px inset;}
.mReset label{cursor: default;}
.mReset button img{left:initial;*left:initial;}
.mReset option{font-weight: normal;display: block;white-space: pre;min-height: 1.2em;padding: 0px 2px 1px;}
.mReset hr{ display: block;-webkit-margin-before: 0.5em;-webkit-margin-after: 0.5em;-webkit-margin-start: auto;-webkit-margin-end: auto;border-style: inset;border-width: 1px;}
.mReset legend{display: block;-webkit-padding-start: 2px;-webkit-padding-end: 2px;border: none;}
.mReset map area{display: inline;cursor: pointer;}
.mReset a {text-decoration:initial;color:initial;}
*/

/**************************************************
  Common style
**************************************************/
.ico_main{margin: -1px 0 0 0;}

/*메일 관리자에서 사용(20160511)*/
.ico_sub{margin: -1px 0 0 0;}



/**************************************************
  checkbox style
**************************************************/
input[type=checkbox].mail_chk{    
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	margin:4px 4px 0 10px;
    border:1px solid #dbdbde;
    width:14px;
    height:14px;
    border-radius:0;
    outline:none;
    background:#fff;
}
input[type=checkbox].mail_chk:hover{
	border:1px solid #1185de;
    border-radius: 0px;
    background: #e4f6ff;
}
input[type=checkbox].mail_chk:checked{
    border:1px solid #1185de;
    border-radius: 0px;
    background: #e4f6ff url('../Images/ico/ico_chk_black01.png') no-repeat center center !important;
}

/**************************************************
  select style
**************************************************/
.mailSel{height: 24px; border: 1px solid #c3c3c3;}



/**************************************************
  mail sub nav style
**************************************************/

/*3dep cnt*/
/*
#sub_nav li .k-in .ma_cnt,
#sub_nav li .on .k-in .ma_cnt,
#sub_nav li .k-in:hover .ma_cnt,
#sub_nav li .k-in.k-state-selected .ma_cnt{color:#058df5;margin-left:12px;}

#sub_nav li .k-top + .k-group li .k-in .ma_s_cnt,
#sub_nav li .k-mid + .k-group li .k-in .ma_s_cnt,
#sub_nav li .k-bot + .k-group li .k-in .ma_s_cnt{color:#058df5;margin-left:7px;}

#sub_nav li .k-top + .k-group li .on .k-in .ma_s_cnt,
#sub_nav li .k-mid + .k-group li .on .k-in .ma_s_cnt,
#sub_nav li .k-bot + .k-group li .on .k-in .ma_s_cnt{font-weight:bold;color:#058df5;margin-left:7px;}

#sub_nav li .k-top + .k-group li .k-in:hover .ma_s_cnt,
#sub_nav li .k-mid + .k-group li .k-in:hover .ma_s_cnt,
#sub_nav li .k-bot + .k-group li .k-in:hover .ma_s_cnt{font-weight:bold;color:#058df5;margin-left:7px;}

#sub_nav li .k-top + .k-group li .k-in.k-state-selected .ma_s_cnt,
#sub_nav li .k-mid + .k-group li .k-in.k-state-selected .ma_s_cnt,
#sub_nav li .k-bot + .k-group li .k-in.k-state-selected .ma_s_cnt{font-weight:bold;color:#058df5;margin-left:7px;}
*/

#sub_nav_jstree .ma_cnt{color:#058df5;margin-left:12px;}
#sub_nav_jstree .ma_s_cnt{color:#058df5;margin-left:7px;}

/*mail add list*/
/*
#sub_nav li .k-add{position:absolute;top:17px;right:31px;font-size:11px;color:#dcdcdc;border-right:1px solid #dcdcdc;}
#sub_nav li .k-add .mail_add_list{float:left;clear:both;margin:-2px 10px 0 0;width:16px;height:14px;background:url('../Images/ico/mail_add_list_s.png') no-repeat 0px 0px;}
#sub_nav li .k-add .mail_add_list:hover{background-position:-16px 0}
*/

#sub_nav_jstree .k-add{position:absolute;top:15px;right:31px;font-size:11px;color:#dcdcdc;border-right:1px solid #dcdcdc;}
#sub_nav_jstree .k-add .mail_add_list{float:left;clear:both;margin:-2px 10px 0 0;width:16px;height:14px;background:url('../Images/ico/mail_add_list_s.png') no-repeat 0px 0px;}
#sub_nav_jstree .k-add .mail_add_list:hover{background-position:-16px 0}


/**************************************************
  mail contents style
**************************************************/

/*sub_nav mail_btn_box*/
.mail_btn_box{padding:13px 0;border-bottom:1px solid #dcdcdc;}
.mail_btn_box .btn_cen{margin:0;text-align:center;}
.mail_btn_box .btn_cen input[type="button"]{padding:0 12px;background:#1088e3;height:24px;color:#fff;border:none; font-weight:bold;}
.mail_btn_box .btn_cen input[type="button"]:hover {background:#0876c9;}
.mail_btn_box .btn_cen input[type="button"].gray_btn {background:#adadad;}
.mail_btn_box .btn_cen input[type="button"]:hover.gray_btn {background:#9d9d9d;}

/*sub_nav mail_volume_box*/
.mail_volume_box{position:absolute;left:0;right:0;bottom:0;height:33px;}
.mail_volume_box dl{overflow:hidden;margin:10px 0 0 0;padding:0 0 0 15px;}
.mail_volume_box dl dt{float:left;font-size:11px;color:#6d6d6d;}
.mail_volume_box dl dd{float:left;font-size:11px;color:#6d6d6d;}
.mail_volume_box dl dd.gauge_div{overflow:hidden;position:relative;width:100px;height:6px;margin:2px 4px 0 4px;border-radius:6px;background:#cecece;}
.mail_volume_box dl dd.gauge_div .gauge_div_in{position:absolute;top:0;left:0;height:6px;background:#2885e2;}
.mail_volume_box dl dd .now_volume{color:#0b6ab2;}
.mail_volume_box dl dd .mail_set_btn{display:block;width:13px;height:13px;margin:0 0 0 10px;background:url('../Images/ico/mail_set_btn.png') no-repeat 0px 0px;}

/*mail_search*/
.mail_search_box{position:absolute;top:13px;right:25px;min-width:550px;text-align:right;}
.mail_search_box .mail_search_info{padding:6px 10px 6px 18px;font-size:11px;font-weight:normal;font-family:'돋움',Dotum;color:#8d8d8d;background:url('../Images/ico/mail_search_info.png') no-repeat left 4px;}
.mail_search_box .mail_search{border:1px solid #c3c3c3; border-radius:0px !important; height:24px !important; color:#8d8d8d;}
.mail_search_box .btn_search{display:inline-block; border:1px solid #c3c3c3; width:24px;height:22px; background:url("../Images/btn/search_icon2.png") no-repeat 5px 3px; position:absolute; margin-left:-5px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.mail_search_box .btn_search{margin-left:-1px;}}

/*mail controll btn*/
.mail_ctrl{padding:0 0 10px 0;text-align:left;}

.mail_ctrl .right_btns {float:right;clear:both;overflow:hidden;padding:0;}
.mail_ctrl .right_btns a {border:1px solid #cacbca;display:block;float:left;/*margin:0 2px 0 0;*/width:24px;height:22px;}
.mail_ctrl .etc_btn {float:left;overflow:hidden;}
.mail_ctrl .etc_btn a.btn_reload {background-image:url("../Images/btn/mail_btn_reload.png");background-repeat:no-repeat;}
.mail_ctrl .etc_btn a:hover {border:1px solid #1088e3;}

/*이전,다음 메일보기 버튼*/
.mail_ctrl .bu_up{display:block;width:13px;height:14px;background-image:url("../Images/ico/signline_arr_up.png");background-repeat:no-repeat;}
.mail_ctrl .bu_down{display:block;width:13px;height:14px;background-image:url("../Images/ico/signline_arr_down.png");background-repeat:no-repeat;}


/* 이 주석부분은 현재 contents.css(메일환경설정)에 있으므로, 주석처리됨
.mail_ctrl .layout_btn {float:left;margin:0 0 0 2px;}
.mail_ctrl .layout_btn a {margin:0 0 0 0px;position:relative;}
.mail_ctrl .layout_btn a.btn_expand {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:0 0;margin:0 -1px 0 0px;}
.mail_ctrl .layout_btn a.btn_vertical {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:-24px 0;margin:0 0px 0 0px;} 
.mail_ctrl .layout_btn a.btn_horizontal {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:-48px 0;margin:0 0px 0 -1px;}
.mail_ctrl .layout_btn a.btn_expand:hover {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:0 -22px;border: 1px solid #1088e3;border-width:1px 0px 1px 1px;margin:0;}
.mail_ctrl .layout_btn a.btn_expand:hover + a.btn_vertical{border: 1px solid #1088e3;border-color:#cacbca #cacbca #cacbca #1088e3;}
.mail_ctrl .layout_btn a.btn_vertical:hover {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:-24px -22px;border: 1px solid #1088e3;margin:0 0px 0 0px;}
.mail_ctrl .layout_btn a.btn_vertical:hover + a.btn_horizontal{border: 1px solid #1088e3;border-color:#cacbca #cacbca #cacbca #1088e3;}
.mail_ctrl .layout_btn a.btn_horizontal:hover {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:-48px -22px;border: 1px solid #1088e3;border-width:1px 1px 1px 1px;margin:0 0px 0 -1px;} 
.mail_ctrl .layout_btn a.btn_expand.on {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:0 -22px;}
.mail_ctrl .layout_btn a.btn_vertical.on {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:-24px -22px;}
.mail_ctrl .layout_btn a.btn_horizontal.on {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:-48px -22px;}
*/

/*메일검색결과*/
.result_info_box{padding:0 0 10px 0;text-align:left;font-size:12px;}
.result_info_box .match_txt{font-weight:bold;}
.result_info_box .match_cnt{font-weight:bold;color:#058df5;}

/* 메일 그리드 테이블 */
/*20160516 수정*/
.mail_grid .mail_tbl tr td{font-weight:bold;}
.mail_grid tr.read td{font-weight:normal;}
.mail_grid .ico_mail{float:left;width:13px;height:10px;margin:2px 6px 0 0;background:url("../Images/ico/ico_mail02.png")no-repeat 0 0;}/*메일 그리드테이블 신규메일아이콘*/
.mail_grid tr.read .ico_mail{width:13px;height:13px;margin:0px 6px 0 0;background:url("../Images/ico/ico_mail02_on.png")no-repeat 0 0;}/*메일 그리드테이블 읽은 메일아이콘*/
.mail_grid tr td .ico_clip{margin:-1px 0 0 0;}

/*20160525 메일 켄도그리드 요청사항 수정*/
.mail_grid .k-grid-content .k-alt{background-color:#fff;}
.mail_grid .k-grid-content .k-state-selected{background-color:#e7f4ff !important;border-color: #e7f4ff;}
.mail_grid .k-grid-content td{border-width:0 0 0 0;}
.mail_grid .k-grid-content td.subjectTd{cursor:pointer}

/* 메일 그리드 뷰 */
.mail_view .mail_contents_border{margin:0;border: 1px solid #dcdcdc;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;overflow:hidden;}
.view_vertical .mail_view .mail_contents_border{margin:10px 0 10px 0;border: 1px solid #dcdcdc;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;overflow:hidden;}
.view_horizontal_main .mail_view .mail_contents_border{margin:0 0 10px 10px;border: 1px solid #dcdcdc;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;overflow:hidden;}

/*메일뷰화면 컨트롤버튼*/
.mail_view_ctrl{padding:10px 20px;text-align:left;min-width:550px;}
.mail_view_ctrl .right_btns {float:right;clear:both;overflow:hidden;padding:0;}
.mail_view_ctrl .right_btns a {border:1px solid #cacbca;display:block;float:left;margin:0 0 0 2px;width:24px;height:22px;}
.mail_view_ctrl .etc_btn {float:right;overflow:hidden;}
.mail_view_ctrl .etc_btn a:hover {border:1px solid #1088e3;}
.mail_view_ctrl .etc_btn a.btn_print {background-image:url("../Images/btn/mail_btn_print.png");background-repeat:no-repeat;background-position:0 0;}
.mail_view_ctrl .etc_btn a:hover.btn_print {background-image:url("../Images/btn/mail_btn_print.png");background-repeat:no-repeat;background-position:0 -22px;}

/*메일뷰화면 타이틀*/
.mail_view_tit{padding:10px 20px;border:solid #dcdcdc;border-width:1px 0;font-size:12px;color:#4a4a4a;}
.mail_view_tit .tit_box{margin:0 0 10px 0;text-align:left;overflow:hidden;}
.mail_view_tit .tit_box .send_tit{float:left;font-weight:bold;}
.mail_view_tit .tit_box .send_date{float:right;font-weight:normal;}
.mail_view_tit .sender_name{margin:0 0 2px 0;}
.mail_view_tit .recipient_name .arr{display:inline-block;margin:0 0 0 4px;width:9px;height:6px;background:url("../Images/ico/ico_btn_arr_down01.png")no-repeat;}

/*메일뷰화면 컨텐츠*/
.mail_view_con{padding:10px 20px;overflow:auto;}
.mail_view_con .file_list{font-size:11px;}
.mail_view_con .file_list .file_list_info{margin:0 0 6px 0;}
.mail_view_con .file_list .file_list_info .file_cnt{font-weight:bold;color:#058df5;}
.mail_view_con .file_list .file_list_info .all_download{color:#058df5;}
.mail_view_con .file_list .file_list_info .colRed {color:#f33e51;}
.mail_view_con .file_list .file_list_box{margin:0 0 20px 0;padding:6px 10px;border:1px solid #dcdcdc;overflow:hidden;}
.mail_view_con .file_list .file_list_box li{font-size:12px;padding:3px 0;position:relative}
.mail_view_con .file_list .file_list_box li .downloader_link{position:absolute;top:4px;right:0;padding:0;}
.mail_view_con .file_list .file_list_box li .downloader_link li{display:inline;font-size:11px;padding:0 0 0 5px;border-left:1px solid #dcdcdc;}
.mail_view_con .file_list .file_list_box li .downloader_link li:first-child{border:none;padding:0;}

.mail_view_con .send_contents{padding:3px 0;}
	

/**************************************************
  mail popup style
**************************************************/

/*인쇄미리보기*/
.pop_print_preview{overflow:hidden;}

/*수신거부*/
.pop_recipient_refusal{}

/*예약발송*/
.pop_reservation_send{}
.pop_reservation_send dl{overflow:hidden;}
.pop_reservation_send dl dt{float:left;font-weight:bold;line-height:24px;}
.pop_reservation_send dl dd{float:left;}
.pop_reservation_send dl dd.ar_date{margin:0 0 0 10px;}
.pop_reservation_send dl dd.ar_txt{clear:both;padding:10px 0 0 60px;}

/*이름입력*/
.pop_name_add{}
.pop_name_add dl{overflow:hidden;}
.pop_name_add dl dt{margin:0 0 5px 0;}
.pop_name_add dl dd input{border:1px solid #c3c3c3;padding:0 5px;border-radius:0px !important;height:24px !important;}

/*그룹생성*/
.pop_group_add{}

/*업로드*/
.pop_upload_file{}
.pop_upload_file .tab_area_box{padding:15px;overflow:hidden;}
.pop_upload_file .tab_area_box dl{}
.pop_upload_file .tab_area_box dl dt{margin:0 0 5px 0;}
.pop_upload_file .tab_area_box dl dd{background: url('../Images/bg/input_txt_bg04.png') no-repeat 0 6px;padding-top:6px;padding-bottom:24px;width:382px;position:relative;}
.pop_upload_file .tab_area_box dl dd .file_size {position:absolute; bottom:4px;font-size:11px; color:#4a4a4a;}
.pop_upload_file .tab_area_box dl dd .k-upload-files {width:302px;padding:0px;}

/*이동*/
.pop_mail_move{}
.pop_mail_move .mail_move_list{border:solid #dcdcdc;border-width:1px 0;}
.pop_mail_move .mail_move_list li:first-child{border:none}
.pop_mail_move .mail_move_list li{border:solid #dcdcdc;border-width:1px 0 0 0;padding:13px 10px;}

/*주소록*/
.pop_mail_addr{}
.pop_mail_addr #tabstrip {border:none;}
.pop_mail_addr .box_right {height:499px;}
.pop_mail_addr .box_right .listbox{padding:5px 0;max-height:452px;overflow:auto;}
.pop_mail_addr .box_right .listbox li{padding:5px 0;}

.pop_mail_addr .trans_tool {width:50px; float:left; text-align:center;}
.pop_mail_addr .trans_tool .tool_u1 {margin-top:80px;}
.pop_mail_addr .trans_tool .tool_u2 {margin-top:135px;}
.pop_mail_addr .trans_tool .tool_u3 {margin-top:120px;}
.pop_mail_addr .trans_tool ul li {margin:2px 0;}
.pop_mail_addr .trans_tool ul li a {display:block;border:1px solid #c3c3c3;  display: inline-block;}
.pop_mail_addr .trans_tool ul li a:hover {border:1px solid #1088e3;} 	

.pop_mail_addr .transbox{float:left;}
.pop_mail_addr .transbox .transbox_u1 .txt{display:block;padding:0 5px 5px 5px;}
.pop_mail_addr .transbox .transbox_u1 .listbox{padding:10px 15px;overflow:auto;width:219px;height:148px;border:1px solid #dcdcdc;}
.pop_mail_addr .transbox .transbox_u1 .listbox li{padding:5px 0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.pop_mail_addr .transbox .transbox_u2 .txt{display:block;padding:0 5px 5px 5px;}
.pop_mail_addr .transbox .transbox_u2 .listbox{padding:10px 15px;overflow:auto;width:219px;height:118px;border:1px solid #dcdcdc;}
.pop_mail_addr .transbox .transbox_u2 .listbox li{padding:5px 0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.pop_mail_addr .transbox .transbox_u3 .txt{display:block;padding:0 5px 5px 5px;}
.pop_mail_addr .transbox .transbox_u3 .listbox{padding:10px 15px;overflow:auto;width:219px;height:118px;border:1px solid #dcdcdc;}
.pop_mail_addr .transbox .transbox_u3 .listbox li{padding:5px 0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

/*메일쓰기*/
.pop_mail_write{}
.pop_mail_write .btn_top .controll_btn input[type="button"]{padding:0 12px;background:#1088e3;height:24px;color:#fff;border:none;font-weight:bold;}
.pop_mail_write .btn_top .controll_btn input[type="button"]:hover {background:#0876c9;}
.pop_mail_write .btn_top .btn_top_chk {float:left;}
.pop_mail_write .btn_top .btn_top_chk ul{overflow:hidden;}
.pop_mail_write .btn_top .btn_top_chk ul li{display:inline-block;line-height:24px;}

.pop_mail_write .com_ta table{width:100%;}
.pop_mail_write .com_ta table th,.pop_mail_write .com_ta table td {height:30px;color:#4a4a4a;border:none;}
.pop_mail_write .com_ta table th {background:#fff;font-weight:bold;text-align:right;padding:0;}
.pop_mail_write .com_ta table th span{padding-right:13px;}
.pop_mail_write .com_ta table th span.arr_up{background: url('../Images/ico/ico_btn_arr_up01.png') no-repeat right;cursor:pointer;}
.pop_mail_write .com_ta table th span.arr_up.arr_down{background: url('../Images/ico/ico_btn_arr_down01.png') no-repeat right;cursor:pointer;}
.pop_mail_write .com_ta table th span.file_toggle{display:inline-block;margin:10px 0 0 0;}

.pop_mail_write .com_ta table td {border-right:none;padding-left:13px;}
.pop_mail_write .com_ta table td input[type="text"] {height:22px;border:1px solid #c3c3c3;text-indent:7px;}
.pop_mail_write .com_ta table td input[type="text"].k-input {border:none;}
.pop_mail_write .com_ta table td li {clear:both;overflow:hidden;}
.pop_mail_write .com_ta table td li dl {float:left;}
.pop_mail_write .com_ta table td li dl dt {float:left;line-height:22px;}
.pop_mail_write .com_ta table td li dl dd {float:left;line-height:22px;}
.pop_mail_write .com_ta table td textarea {overflow-y:auto;}
.pop_mail_write .com_ta table .cen {text-align:center !important;padding:0px;}
.pop_mail_write .com_ta table .ri {text-align:right !important;}
.pop_mail_write .com_ta table .le {text-align:left !important;}

.file_add_wrap + td .file_add_trigger{float:left;}
.file_add_wrap + td .file_add_txt{font-size:11px;float:left;height:24px;line-height:28px;margin:0 0 0 5px;padding:0 0 0 25px;color:#058df5;cursor:pointer;background: url('../Images/ico/ico_file_toggle01.png') no-repeat left;}

.file_add_wrap + td .file_list{font-size:11px;margin:5px 0 0 0;position:relative}
.file_add_wrap + td .file_list .file_list_box{margin:5px 0 0 0;height:93px;padding:6px 10px;border:1px solid #dcdcdc;overflow:auto;}
.file_add_wrap + td .file_list .file_list_box li{font-size:12px;padding:2px 0;position:relative}
.file_add_wrap + td .file_list .file_list_box li .downloader_link{position:absolute;top:4px;right:0;padding:0;}
.file_add_wrap + td .file_list .file_list_box li .downloader_link li{display:inline;font-size:11px;padding:0 0 0 5px;border-left:1px solid #dcdcdc;}
.file_add_wrap + td .file_list .file_list_box li .downloader_link li:first-child{border:none;padding:0;}
.file_add_wrap + td .file_list #dropFileZon p{position:absolute;top:19px;left:1px;right:1px;bottom:1px;text-align:center;padding:50px 0;background-color:rgba(255,255,255,0.8);}







